/* remove all the default margins, padding and borders  */
* {
    margin: 0;
    padding: 0;
    border: none;
}

/* reset the default settings */
body {
    font-family: Lato, sans-serif;
    height: 100vh;
    background-image: url(../images/bg-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    font-weight: 400;
    background-position: center;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Open sans', sans-serif;
    font-weight: 600;
    text-align: center;
}

/* heading */
header {
    text-align: center;
    color: rgb(255, 0, 213);
    margin-top: 10px;
}

#test-knowledge {
    font-size: 30px;
    margin-top: 10px;
}

/* styling of the central container for quiz content */
#all-section {
    display: flex;
    justify-content: center;
    text-align: center;
}

#modal {
    background-color: rgb(71, 69, 84, 0.6);
    height: 600px;
    width: 550px;

    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
    border-radius: 5px;
}



h1 {
    font-size: 60px;
}

h2 {
    font-size: 28px;
    margin-top: 10px;
}

h3 {
    font-size: 24px;
    margin-top: 10px;
}

h4 {
    font-size: 20px;
    margin-top: 10px;
}

h5 {
    font-size: 18px;
    margin-top: 10px;
}


/* styling of welcome section and choose level section */

input {
    font-size: 24px;
    margin-top: 20px;
}

label {
    font-size: 24px;
    margin-top: 20px;
}

#create-username {
    font-size: 24px;
    margin-top: 15px;
}

#welcome form {
    margin-top: 10px;
}


#welcome input {
    width: 400px;
    height: 30px;
    border: 2px solid rgb(230, 236, 240);
    border-radius: 10px;
    margin-left: 15px;
}

button {
    border: 2px solid rgb(230, 236, 240);
    border-radius: 10px;
    width: 100px;
    height: 40px;
    background-color: rgb(255, 0, 213);
    font-size: 20px;
    color: #fff;
    margin-top: 15px;
}

button:hover {
    background-color: rgb(230, 236, 240);
    color: rgb(255, 0, 213);
}

#rules {
    margin-top: 20px;
    font-size: 24px;
}

#welcome ul {
    list-style-type: disc;
    margin-top: 15px;
    padding: 0 30px;
}

ul li {
    margin-top: 5px;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
}


.show {
    display: block;
}

.hide {
    display: none;
}

/* styling of quiz section and score tracker*/

#quiz-div form {
    margin-top: 20px;
}

#quiz-div input {
    display: none;
}

#quiz-div label {
    display: block;
    width: 300px;
    height: 30px;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid rgb(230, 236, 240);
}

#quiz-div label:hover {
    background-color: rgb(255, 0, 213);
}

#score-tracker {
    display: flex;
    align-items: center;
    justify-content: center;
}

#score {
    color: green;
}

#failed {
    color: red;
}

/* styling of end of the quiz section */
#play-again {
    border: 2px solid rgb(213, 165, 194);
    border-radius: 10px;
    width: 150px;
    background-color: rgb(220, 22, 203, 0.8);
    color: #fff;
    height: 40px;
    font-size: 20px;
    margin-top: 15px;
}

#play-again:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(220, 22, 203);
}

/* styling of footer and social media links */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: 100px;
    width: 100%;
    background-color: rgb(230, 236, 240)
}

footer a {
    color: rgb(255, 0, 213);
    padding: 7px;
    font-size: 24px;
    margin: 0 20px 0 20px;
}